@font-face {
    font-family: "qjta";
    src: url("qjta.eot"); /* IE9 */
    src: url("qjta.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("qjta.woff") format("woff"), /* chrome, firefox */
    url("qjta.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("qjta.svg#qjta") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


